* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;;
}
.hero__section{
  background: url(images/heroSectionBackground.png);
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 60vh;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 16px 48px;
}
.navbar a{
  text-decoration: none;
  color: white;
}
.navbar__menu__container{
  display: flex;
  gap: 20px;
}

.navbar__menu__container .user__icon{
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid white;
  display: none;
}
.hero__section__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32PX;
  height: calc(60vh - 60px);
}
.hero__section__logo{
  width:300px;
  height: auto;
}
.hero__section_title{
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
.hero__section__input{
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  width:60%;
}
.hero__section__location,
.hero__section__search{
  padding: 5px;
  outline: none;
  border: none;
}
.hero__section__location{
  width:35%;
  border-right: 2px solid gray;
}
.hero__section__search{
  width: 65%;
}
@media only screen and (max-width: 600px){
  .navbar__menu__container .user__icon{
    display: flex;
  }
  .link{
    display: none;
  }
  .navbar{
    padding: 16px;
  }
  .hero__section{
    min-height: 80vh;
  }
  .hero__section__input{
    flex-direction: column;
    background: transparent;
    width: 100%;
  }
  .hero__section__location,
  .hero__section__search{
    padding: 15px;
    border-radius: 10px;
    width: 95%;
  }
  .hero__section__container{
    height: calc(80vh-60px);
  }
  .hero__section_title{
    font-size: 20px;
    width: 95%;
  }

}
/* ///////////////////////////////////////////////// */
.container{
  margin: 3rem auto;
  width: 75%;

}

.we__offer{
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
  align-items: center;
  justify-content: center;
}
.we__offer_card{
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid gray;
  transition: all 0.3s ease;
 
}
.we__offer_card:hover{
  transform: scale(1.05);
  box-shadow: 5px 5px 10px black ;
}
.we__offer_card img{
  width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: center;
}
.we__offer_content{
  padding: 10px;
 
}
.we__offer_content h2{
  font-size: 20px;
  font-weight: 500;
}
.we__offer_content p{
font-size: 12px;
}
/* ////////////////////////////////////////////////////// */
.collections h1 {
  font-weight: 500;
  font-size: 1.6rem;
}
.collections .sub__heading_conatiner{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.sub__heading_conatiner span:nth-child(2){
  color: #ff7e8b;
  font-size: 1rem;
  cursor: pointer;
}
.collections_card_conatiner{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:1rem;
  margin-top:1.5rem;
}
.collections_card_conatiner .card{
  height: 300px;
  min-width: 240px;
  background-position:center;
  background-size: cover;
  border-radius: 10px;
  position: relative;

}
.card:hover{
  transition: all 0.4s ease;
  transform: scale(1.05);
  box-shadow:5px 5px 10px black ;

}
.card1{
  background-image: url(images/collection1.jpg);
}
.card2{
  background-image: url(images/collection2.jpg);
}
.card3{
  background-image: url(images/collection3.jpg);
}
.card4{
  background-image: url(images/collection4.jpg);
}
.overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(0deg,rgba(0,0,0,0.9)0%,
  rgba(0,0,0,0.05)50%,
  rgba(0,0,0,0.05)85%
  );
}
.collections_card_conatiner .card .content{
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 12px 16px;
  font-size: 0.9rem;
  z-index:1;

}

.content h4{
  font-weight:400;
  letter-spacing: 0.5px;
}
/* //////////////////////////////////////////////////////////// */
.heading{
  color:rgba(0, 0, 0, 0.761);
}
.heading b{
  font-weight: 400;
  color: rgba(0, 0, 0, 0.905);
}
.areas{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  width:95%;
  align-items: center;
}
.places{
  width: 300px;
  /* height: 20%; */
  border: .05rem solid rgb(214, 210, 210);
  margin-bottom: 1rem;
  border-radius: 7px;
  padding: 10px;
  box-shadow: rgba(20, 20, 20, 0.286) 0px 1.4px 2.8px;
}
.places h1{
  font-weight: 300;
  font-size: 2vw;
  color: rgba(19, 19, 19, 0.791);
}
.places p{
  font-size: 1vw;
  font-weight: 300;
}
.heading{
  width: 95%;
  margin: auto;
 padding: 10px;
  font-size: 3vw;
  font-weight: 300;
  height: 10%;
}
/* /* ////////////////////////////////////////////////////////// */

.get__the_app{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 251, 247);
  width: 100%;
  padding: 3rem 6rem;
  margin: 1px;
}
.get__the_app .semicontainer{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.get__the_app .semicontainer .left{
  flex: 2;
}
.get__the_app .semicontainer .left img{
  width: 100%;
  object-fit: cover;
  object-position: center;
  min-width: 10rem;
}
.get__the_app .semicontainer .right{
  flex: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.right h1{
  font-weight: 400;
  font-size: 2rem;
}
.right p{
  font-size: 0.8rem;
}
.semicontainer .right .radio__buttons_container{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.semicontainer .right .radio__buttons_container div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;}

  .right .radio__buttons_container div input{
    height:15px;
    width:10px;
    accent-color: rgb(239, 79, 95);
   }
   .semicontainer .right .input_container{
    display: flex;
    gap: 0.5rem;
   }
   .input_container{
    flex-wrap: wrap;
   }
   .input_container button,
   .input_container input{
    padding: 10px 12px;
   }
   .input_container input{
    flex: auto;
    border: 1.5px solid gray;
    outline: none;
    border-radius: 5px;
   }
   .input_container button{
    border: none;
    background-color:  rgb(239, 79, 95);
    color: white;
    border-radius: 5px;
    cursor: pointer;
   }
   .downlod__app_container{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
   }
   .downlod__app_container h5{
    font-weight: 400;
    color: grey;
   }
   .downlod__app_container div{
    display: flex;
    gap: 1rem;
   }
   .downlod__app_container div img{
    width: 35%;
   }
  
   @media only screen and (max-width: 1300px) {
    .get__the_app .semicontainer .left,
    .get__the_app .semicontainer .right {
      flex: 1;
    }
  
    .get__the_app .semicontainer {
      width: 80%;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .get__the_app {
      padding: 2rem;
    }
  
    .get__the_app .semicontainer {
      width: 90%;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .get__the_app {
      padding: 3rem 0;
    }
  
    .get__the_app .semicontainer {
      width: 80%;
      flex-direction: column;
    }
  }
/* ////////////////////////////////////// */
.footer{
  width: 100%;
}
.footer_section1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  gap:2.5rem;
}
.footer_section1 img{
  width: 10%;
}
.section1_buttonContainer{
  display: flex;
  gap: 1rem;
}
.section1_buttonContainer button{
  padding: 5px;
  width: 90px;
  border: 1px solid gray;
  background-color: transparent;
  border-radius: 5px;
  display:flex;
 align-items: center;
 justify-content: center;
 gap: 10px;
 cursor: pointer;
}
.navigation_container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  width: 80%;
  margin: auto;
  gap: 1rem;
  padding: 3rem 0;
}
.link__container{
  display: flex;
  flex-direction: column;
  gap: .3rem;
}
.link__container h5 {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 5px;
  letter-spacing: 0.8px;
}

.footer__link{
  text-decoration: none;
  color:grey;
  font-size: 13px;
  font-weight: 300;
}
.footer__link:hover{
  color: black;
}
.social__links_container{
  display: flex;
  gap: 0.5rem;

}
.social__links_container button{
  background-color: black;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  display: flex;
  justify-content:center ;
  align-items: center;
}
.social__links_container button i{
  color: white;
  font-size: 13px;
}
.footer__section_logos{
  width: 100%;
}
.disclaimer{
  width: 90%;
  margin: auto;
  color: grey;
  font-size: 12px;
  border-top: 1px solid grey;
  padding-top:1.5rem ;
}
 @media only screen and (max-width:900px){
  .navigation_container{
    grid-template-columns: repeat(3,1fr);
  }
 }   
 @media only screen and (max-width:600px){
  .navigation_container{
    grid-template-columns: repeat(2,1fr);
  }
 }   
 @media only screen and (max-width:450px){
  .navigation_container{
    grid-template-columns: 1fr;
  }
 }   